@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Not Found";
}

<div class="notfound-404">
    <h1>404</h1>
</div>
<h2>Oops! Page not found</h2>
<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable. Or the respective record doesn't exist. <a href="@Url.Content("~")">Return to home</a></p>