@using Scrapper.Web.Helpers
@model Scrapper.Domain.Abstractions.PageResult<Scrapper.Domain.Scrapes.ScrapeResponse>
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <!--Scrapes start-->
    <div class="col-xl-12 col-md-12">
        <div class="card Recent-Users">
            <div class="card-header">
                <h5>Scrapes</h5>
            </div>

            <div class="card-block ">

                <div class="row justify-content-center align-items-center mb-4">

                    <div class="col-auto">
                        <div class="foreign-box">
                            <div class="block">
                                <div class="box">
                                    <input type="date" id="startRange" class="form-control" value="1900-01-01" />
                                </div>

                                <div class="col-auto  p-0 text-center mt-2"><span class="form-label px-2">To</span></div>
                                <div class="box">
                                    <input type="date" id="endRange" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>

                            <div class="acc-no box">
                                <input type="text" placeholder="Enter Product Id or Product name to search for" id="searchTxt" class="form-control" />
                            </div>

                            <div class="col-sm-1 search">
                                <button class="btn btn-primary" id="btnSearch" onclick="home.searchScrapes(this);">
                                    <i class="fas fa-search"></i>
                                    <span class="loader-border loader-border-sm mr-3 d-none" role="status" aria-hidden="true"></span>
                                    <span>Search</span></button>
                            </div>

                        </div>
                    </div>
                </div>

                @if (Model.Items.Count > 0)
                {
                    <div id="scrapes">
                        @await Html.PartialAsync("_Scrapes", Model)
                    </div>
                }
            </div>

            @if (Model.Items.Count <= 0)
            {
                await Html.RenderPartialAsync("_NoRecords");
            }

        </div>
    </div>
    <!--Scrapes end-->
</div>

@section scripts{
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="@Utilities.UrlVersioning("/js/pages/home.js")"></script>

    <script>
        $(function () {
            home.init();
        });
    </script>

}
