@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Scrapper.Web.Models.Authentication.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign In - @WebConstants.AppName</title>
    <partial name="_Header" />
</head>

<body>
    <div class="auth-wrapper">

        <div class="auth-content subscribe">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-6 d-none d-md-flex d-lg-flex theme-bg align-items-center justify-content-center">
                        <img src="/images/user/lock.png" alt="lock images" class="img-fluid">
                    </div>
                    <div class="col-md-8 col-lg-6">
                        <div class="card-body text-center">
                            <div class="row justify-content-center">
                                <div class="col-sm-10">
                                    <h3 class="mb-4">Login</h3>

                                    <form asp-action="Login">
                                        <div asp-validation-summary="All" class="text-danger"></div>

                                        <div class="input-group mb-3">
                                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                                        </div>

                                        <div class="input-group mb-4">
                                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                                        </div>

                                        <button class="btn btn-primary shadow-2 mb-4">Login</button>
                                        <p class="mb-2 text-muted">New user? <a asp-controller="Account" asp-action="Signup">Sign up</a></p>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="~/js/vendor-all.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>