@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scrapper</h1>
    <p>Scrape website using Puppeteer Sharp.</p>

    <button id="btnScrape" class="btn btn-primary" onclick="site.scrapeWesco()">Scrape from Wesco</button>
</div>

@*@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}
*@